body {
    padding: 0;
    margin: 0;
}

.box1 {
    height: 350px;
    width: 350px;
    border: solid orange;
}

p {
    width: 260px;
    position: relative;
    left: 40px;
}

h2 {
    position: relative;
    left: 20px;
}

.box2 {
    height: 350px;
    width: 350px;
    border: solid orange;
}

.parent-content-box {
    position: absolute;
    width: 200px;
    height: 200px;
    border: greenyellow solid;
}

.content-box1 {
    position: relative;
    left: 125px;
    height: 75px;
    width: 75px;
    background-color: orangered;
}

.content-box2 {
    position: absolute;
    top: 0px;
    height: 75px;
    width: 75px;
    background-color: blue;
}

.nevbar {
    padding: 0;
    margin: 0;
    height: 30px;
    width: 100%;
    position: fixed;
}

h3 {
    padding: 0;
    margin: 0;
    background-color: rgba(173, 255, 47, 0.3);
}

#hel {
    float: left;
    background-color: grey;
}

#wor {
    float: right;
    background-color: grey;
}

.z-content-box1 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    height: 75px;
    width: 75px;
    background-color: orangered;
}

.z-content-box2 {
    position: absolute;
    top: 0px;
    z-index: 1;
    height: 75px;
    width: 75px;
    background-color: blue;
}

.box4margin {
    margin: auto;
    height: 75px;
    width: 75px;
    background-color: orangered;
}

#img1 {
    height: 75px;
    width: 75px;
}

#img2 {
    /*set display to block and it's margin can set to auto*/
    display: block;
    height: 35px;
    width: 75px;
    margin: auto;
}

.boxcolored1 {
    height: 50px;
    width: 50px;
    background-color: rgb(219, 122, 122);
}

.boxcolored2 {
    height: 50px;
    width: 50px;
    background-color: hsl(138, 83%, 68%);
}

.bigboxcolored1 {
    height: 350px;
    width: 350px;
    border: solid orange;
    background: linear-gradient(90deg, red, yellow, rgb(204, 204, 255));
}

.bigboxcolored2 {
    height: 350px;
    width: 350px;
    border: solid orange;
    background: repeating-linear-gradient( 90deg, yellow 0px, rgb(255, 153, 0) 30px, rgb(128, 58, 0) 40px, red 80px);
}

.boxbg {
    height: 350px;
    width: 350px;
    border: solid orange;
    background: url("https://img.freepik.com/free-vector/abstract-blue-geometric-shapes-background_1035-17545.jpg?size=626&ext=jpg");
}

.boxball {
    height: 350px;
    width: 350px;
    border: solid orange;
    position: relative;
    transform: skewX(12deg);
}

.ball11 {
    position: relative;
    right: 80px;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(45deg, #ccffff, #ffcccc);
    transform: skewY(-25deg);
}

.ball22 {
    position: relative;
    bottom: 60px;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 50%;
    background: linear-gradient(45deg, #ccffff, #ffcccc);
    transform: scale(1.5);
}

.ball22:hover {
    transform: scale(1.2);
    border: pink solid 2.2px
}